{% extends 'mail/base.email.html.twig' %}

{% block body %}
    <h1>NEO - Changement de mot passe</h1>
    <p>
        Cet email vous a été envoyé car vous avez demandé un changement de mot de passe :<br/><br/>
        Cliquez sur ce <a href="{{ url }}">lien</a> pour le modifier.
    </p>
{% endblock %}
